
.Desktop {
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;

  // position: relative;
  @include rmin('lg') {
    // height: 100vh;
  }
}


// Dot Grid Background
@mixin dot-grid {
  $dot-space: 30px; // if divisible by 10, stays even on the sides
  $bg-color: white;
  $dot-size: 2px;
  $dot-color: color('gray-3');
  background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}
.Desktop {
  @include dot-grid;
}


.tippy-box.desktop-theme {
  background-color: white;
  color: color('black');
  @include border;
  font-size: $fs-3;
}
.tippy-box.desktop-theme[data-animatefill] {
  // background-color: transparent;
}

.tippy-box.desktop-theme .tippy-backdrop {
  background-color: red;
}

/*
<div data-tippy-root>
  <div class="tippy-box <theme-class>" data-placement="top">
    <div class="tippy-backdrop"></div> <!-- animateFill: true -->
    <div class="tippy-arrow"></div> <!-- arrow: true -->
    <div class="tippy-content">
      My content
    </div>
  </div>
</div>
 */
