
.FloatingMenu {
  height: auto;
  z-index: $zi-1;
  display: none;


  @include border;
  @include rmin('lg') {
    display: block;
    top: 20px;
    left: 20px;
  }

  // Window Overrides
  &.Window {
    @include shadowFar;
    background-color: color('black');
    width: 275px;
    min-height: unset;
    height: auto;
    bottom: auto;
    // position: relative;
    @include rmin('xl') {
      width: 300px;
    }
  }
  .Window__TitleBar {
    background-color: color('black');
    color: white;
  }
  .Window__Title {
    text-align: left;
    margin-left: $gutter-xs;
  }
  .Window__Controls,
  .Window__Close {
    display: block;
  }
  .Window__Controls {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.FloatingMenu__List {
  list-style: none;
  background-color: white;
}
.FloatingMenu__ListItem {
  padding: 0 $gutter-xs;
  transition: 0.1s ease-out;
  cursor: pointer;
  &:last-of-type {
    .FloatingMenu__ListItemInner {
      border-bottom: 0;
    }
  }
  &:hover {
    background-color: color('gray-1');
    // For Arrow Glyph
    i {
      opacity: 1;
    }
  }
}
.FloatingMenu__ListItemInner {
  display: flex;
  align-items: center;
  padding: $gutter-xs 0;
  border-bottom: 1px solid color('black');
  transition: inherit;
  span {
    flex-grow: 1;
  }
  // For Arrow Glyph
  i {
    font-style: normal;
    display: block;
    opacity: 0;
    transition: inherit;
  }
  @include noTextSelect;
}


.FloatingMenu--mobile {
  // TODO: needs work
  display: block;
  visibility: hidden;
  top: auto !important;
  position: fixed !important;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  animation: floating-menu-mobile 0.2s ease-out forwards;
}
.FloatingMenu--alwaysOpen.Window {
  display: block;
  top: 0;
  left: 0;
  background-color: white;
  bottom: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  // top: $space-6;
  // left: 50%;
  // transform: translateX(-50%);
}
.FloatingMenu--hiding {
  @extend .FloatingMenu--mobile;
  animation: floating-menu-mobile-hide 0.45s ease-in forwards !important;
}

@keyframes floating-menu-mobile-hide {
  0% {
    visibility: visible;
    opacity: 1;
    bottom: 126px;
  }
  50% {
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
    bottom: -250px;
    // position: absolute;
  }
}

@keyframes floating-menu-mobile {
  0% {
    visibility: visible;
    opacity: 0;
    bottom: -120px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    bottom: 126px;
  }
}
