.Icon {

}
.Icon--folder {
  svg {
    width: 1.5rem;
  }
}

.Icon--info,
.Icon--menu,
.Icon--message {
  svg {
    width: 1.75rem;
  }
}
.Icon--info {
  height: 30px;
}
.Icon--message {
  height: 26.19px;
}
.Icon--menu {
  height: 22px;
}
.Icon--folder,
.Icon--page {
  width: 24px;
  margin-right: $space-2;
}

.Icon--disabled {
  // path,
  // line {
  //   stroke: color('gray-4');
  // }
}

// Desktop Hover states for icons
@include rmin('lg') {
  .Icon--info {
    #Circle {
      transition: 0.2s ease-in-out;
      fill: color('black');
    }
    &:hover {
      #Circle {
        fill: lighten(#222, 10%);
      }
    }
  }
  .Icon--message {
    #Tail,
    #Main {
      transition: 0.2s ease-in-out;
      fill: color('black');
    }
    &:hover {
      #Tail,
      #Main {
        fill: lighten(#222, 10%);
      }
    }
  }
}

// Color Utilities
// **
// For use with folder icons
.Icon--page {
  // position: relative;
  svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.Icon--page.gray {
  #Background {
    fill: color('gray-1');
  }

}
.Icon--folder.red {
  #Tab {
    fill: color('red-2');
  }
  #Main {
    fill: color('red-1');
  }
}

.Icon--folder.blue {
  #Tab {
    fill: color('blue-2');
  }
  #Main {
    fill: color('blue-1');
  }
}

.Icon--folder.yellow {
  #Tab {
    fill: color('yellow-2');
  }
  #Main {
    fill: color('yellow-1');
  }
}

.Icon--folder.gray {
  #Tab {
    fill: color('gray-2');
  }
  #Main {
    fill: color('gray-1');
  }
}
