
.MobileMenu {
  position: absolute;
  z-index: 0;
  // height: 100vh;
  width: 100vw;
  background-color: white;
  // overflow: hidden;
  // bottom: 38px;
  @include rmin('lg') {
    display: none;
  }
}

.MobileMenu__TitleBar {
  position: relative;
  height: $space-6;
  background-color: color('black');
  color: white;
}
.MobileMenu__Title {
  text-align: left;
  margin-left: $gutter-xs;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 1px; // optical tweak
}

.MobileMenu__Controls {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  margin: 0 calc(#{$gutter-xs} / 2) 0 $gutter-xs;
  padding-bottom: 1px; // optical tweak
}

.MobileMenu__List {
  list-style: none;
}

.MobileMenu__ListItem {
  padding: 0 $gutter-xs;
  transition: 0.1s ease-out;
  cursor: pointer;
  &:last-of-type {
    .MobileMenu__ListItemInner {
      border-bottom: 0;
    }
  }
  &:hover {
    background-color: color('gray-1');
    // For Arrow Glyph
    i {
      opacity: 1;
    }
  }
}

.MobileMenu__ListItemInner {
  display: block;
  padding: $gutter-xs 0;
  border-bottom: 1px solid color('black');
  transition: inherit;
  // For Arrow Glyph
  i {
    font-style: normal;
    display: block;
    float: right;
    opacity: 0;
    transition: inherit;
  }
}
