// Status Bar
// **
// Main Elements
.StatusBar {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: $zi-3;
  width: 100%;
  color: white;
  @include rmax('lg') {
    flex-wrap: wrap;
    background-color: transparent;
    & > * {
      background-color: color('black');
    }
  }
  @include rmin('lg') {
    align-items: center;
    background-color: color('black');
  }
}
.StatusBar__CWD {
  flex-grow: 1;
  @include rmax('lg') {
    margin: 3px;
    width: 100%;
  }
  @include rmin('lg') {
    margin: 0 $gutter;
  }
}
.StatusBar__CWDInner {
  display: flex;
  background-color: color('black');
  // Current path style
  span {
    color: color('gray-3')
  }
  @include rmax('lg') {
    padding:
      calc(#{$gutter-xs} - 1px)  // optical tweak
      $gutter-xs
      calc(#{$gutter-xs} + 1px); // optical tweak
    @include verticalCenter(relative);
  }
}
.StatusBar__Clock {
  display: none;
  margin-right: $gutter;
  @include rmin('lg') {
    display: block;
  }
}

// Navigation
// **
// TODO: rework so the icons are equidistant and spread out?
//       for tablet this might look better
.StatusBar__Nav {
  display: flex;
  flex-grow: 1;
  @include rmax('lg') {
    flex-grow: 1;
    justify-content: center;
    padding: $space-1 0;
  }
  @include rmin('lg') {
    flex-direction: row-reverse;
  }
}
.StatusBar__Info,
.StatusBar__Message,
.StatusBar__Menu {
  display: flex;
  align-items: center;
  padding: 0 $gutter-xs;
  margin: $gutter-xs 0;
  cursor: pointer;
  @include rmax('lg'){
    margin: $space-1 $gutter-sm;
  }
  @include rmin('lg') {
    margin-right: $space-2;
  }
}
.StatusBar__Info {
  @include rmin('lg') {
    margin-right: $gutter-sm;
  }
}
.StatusBar__Menu {
  @include rmin('lg') {
    display: none;
  }
}
