
// SubWindow
// **
.SubWindow {
  border: 1px solid black;
  position: absolute;
  max-width: 80vw;
  max-height: 60vw;
  top: 35%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -35%);
  z-index: 1002;
}
// Overlay "Backdrop"
.SubWindow__Backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $zi-2;
  animation: animate-backdrop 0.2s ease-in-out forwards;
}

// Window Overrides
// **
.SubWindow .Window__TitleBar--subWindow {
  background-color: black;
  color: white;
  &:hover {
    background-color: black;
    cursor: default;
  }
}
.Window__TitleBar--subWindow .Window__Title {
  text-align: left;
  margin-left: $gutter-xs;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Window__TitleBar--subWindow .Window__Close {
  &:hover {
    color: color('gray-3');
  }
}

// Tweaks
// **
.SubWindow .Image {
  &:hover {
    cursor: default;
  }
}
// Aspect Ratio Tweaks
.SubWindow--landscape {
  width: 110vmin;
}
.SubWindow--portrait {
  width: auto;
  max-height: 85vh;
}

// Animations
@keyframes animate-backdrop {
  0% {
    background-color: rgba(color('black'), 0);
  }
  100% {
    background-color: $overlay;
  }
}
