
.Window {
  // Visual Design
  background-color: white;
  // Size & Position
  width: 100%;
  height: auto;
  bottom: 38px; // TODO update this when statusbar is styled
  top: 0;
  position: absolute;
  overflow: hidden;

  @include rmin('lg') {
    // Visual Design
    @include border;
    // Size & Position
    // temp
    height: 82vh;
    width: 70vw;
    top: 20px;
    right: 20px;
    overflow: hidden;
    box-shadow: $shadow-hidden;
    transition: box-shadow 0.15s ease-in-out;
  }
}
.Window--active {
  outline: 0;
  @include rmin('lg') {
    @include shadow;
  }
}

.Window--activePulse{
  animation: animate-shadow 0.4s ease-in-out;
}

@keyframes animate-shadow {
  0% {
    @include shadow;
  }
  50% {
    @include shadowFarther;
  }
  100% {
    @include shadow;
  }
}

.Window__Inner {
  overflow-y: auto;
  position: absolute;
  height: auto;
  bottom: 0;
  top: $space-6;
  padding-top: $gutter-sm;
  @include rmin('lg') {
    padding-top: $gutter;
    top: $space-5;
  }
}

.Window__TitleBar {
  border-bottom: $border;
  height: $space-6;
  position: relative;
  @include rmin('lg') {
    height: $space-5;
    &:hover {
      cursor: move;
    }
  }
  @include clearfix;
}

.Window__Title {
  display: block;
  letter-spacing: $fls-3;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 1px; // optical tweak
  @include rmax('lg') {
    margin-left: $gutter-sm;
  }
  @include rmin('lg') {
    text-align: center;
  }
  @include noTextSelect;
}
.Window__Controls {
  // display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  transition: 0.1s ease-in;
  // padding-bottom: 1px; // optical tweak
  @include rmax('lg') {
    float: left;
    position: relative;
    margin: 0 calc(#{$gutter-xs} / 2) 0 $gutter-xs;
  }
  @include rmin('lg') {
    left: auto;
    right: 0;
  }
}

.Window__Close {
  display: none;
  @include rmin('lg') {
    display: block;
  }
  cursor: pointer;
  user-select: none;
  transition: inherit;
  svg {
    width: 1rem;
    height: 1rem;
    @include rmin('lg') {
      margin: 0 $gutter-xs;
      margin-top: 2px; // optical tweak because of TitleBar bottom border
    }
  }
  &:hover {
    color: color('gray-4');
  }
}

.Window__Back {
  display: block;
  @include rmin('lg') {
    display: none;
  }
  cursor: pointer;
  user-select: none;
}

// Specific Window Styling
// **
.Window {
  @include rmin('lg') {
    // Info Window
    &#wInfo {
      height: 45vh;
      width: 55vw;
    }
    &#wContact {
      height: 45vh;
      width: 55vw;
    }
  }
}

.Window:not(.FloatingMenu) {
  // opacity: 1;
  animation: animate-window-load 0.3s ease-out;
}

@keyframes animate-window-load {
  0% {
    margin-top: $space-3;
    // opacity: 0.9;
    // transform: scale(0.99);
  }
  100% {
    marign-top: initial;
    // opacity: 1;
    // transform: scale(1);
  }
}

// Scrollbar Styling (Chrome, Safari)
// .Window__Inner {
//   transition: 0.2s ease-out;
// }
// .Window__Inner::-webkit-scrollbar {
//   width: 4px;
// }
// .Window__Inner::-webkit-scrollbar-thumb {
//   background-color: black;
// }
// .Window__Inner::-webkit-scrollbar:hover {
// }

// Firefox Scrollbar Styling
// .Window__Inner {
//   // scrollbar-width: thin;
//   // scrollbar-color: black white;
// }



// Custom scrollbar:
// https://css-tricks.com/the-current-state-of-styling-scrollbars/
