<div id="p1" class="window project">
  <div class="title-bar">
    <div class="title">Project 1</div>
    <div class="controls">
      <div class="min"></div>
      <div class="max"></div>
      <div class="close"></div>
    </div>
  </div>
  <div class="content">
    <div class="header">
      <h1 class="title">Project 01</h1>
      <img id="p1-1" name="P01_01" src="img/placeholder.png">
      <div class="row">
        <p class="desc">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Aenean dignissim felis.</p>
      </div>
    </div>
    <div class="body">
      <div class="row">
        <!--  LEFT -->
        <div class="col-50">
          <p class="label">Some text</p>
        </div>
        <!--  RIGHT -->
        <div class="col-50">
          <img id="p1-2" name="P01_02" src="img/placeholder-small.png">
        </div>
      </div>
      <div class="row img-only">
        <div class="col-50">
          <img id="p1-3" name="P01_03" src="img/placeholder-small.png">
        </div>
      </div>
    </div>
  </div>
</div>
