
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  color: color('black');
  font-size: 1rem;
  line-height: 1;
  font-family:
    $cartograph-light,
    $font-family-fallback-mono;
  // This causes issues in Safari
  // -moz-font-feature-settings: 'ss05';
  // -webkit-font-feature-settings: 'ss05';
  // font-feature-settings: 'ss05';

}

button,
a {
  // Reset
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  padding-bottom: 0.5px;
  border-bottom: 1px solid transparent;
  transition: 0.1s ease-in;
  &:hover {
    border-bottom: 1px solid color('black');
  }
}

button {
  text-align: left;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
