// Content Sections
// **
.section {
  display: flex;
  flex-wrap: wrap;
}
.section-heading {
  width: 100%;
  text-transform: uppercase;
  font-size: $fs-5;
  padding: 0 $gutter-sm;
  margin-bottom: $space-3;
  @include rmin('lg') {
    padding: 0 $gutter;
    width: 35%;
  }
}
.section-content {
  width: 100%;
  @include rmin('lg') {
    width: 65%;
  }
}

// Intro Section
// **
// TODO: probably remove this once Intro image non-placeholder is made
.intro {
  & img {
    max-height: 350px;
  }
}

// Header Section
// **
.header {
  color: color('gray-4');
  @include rmin('lg') {
    display: flex;
    justify-content: space-between;
  }
}
.header-title {
  letter-spacing: $fls-1;
  font-size: $fs-4;
  margin-bottom: $space-2;
}
.header-meta {
  font-size: $fs-3;
}
.header-time {
  margin-bottom: $space-2;
  .time-start,
  .time-end {
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .time-arrow {
    padding-top: 1px; // optical spacing tweak
    font-size: $fs-2;
    margin: 0 $space-2;
  }
  @include rmin('lg') {
    display: flex;
    justify-content: flex-end;
  }
}
.header-tag-list {
  display: flex;
  list-style: none;
  @include rmin('lg') {
    justify-content: flex-end;
  }
}
.header-tag {
  // TODO: update design
  background-color: rgba(black, 0.05);
  border-radius: 2rem;
  font-size: $fs-2;
  text-transform: uppercase;
  padding: 4px 8px;
  margin-right: $space-2;
  @include rmin('lg') {
    &:last-of-type {
      margin-right: 0;
    }
  }
}

// Footer
// **
.footer {
  border-top: 2px solid color('gray-1');
  padding-top: $gutter-sm;
  margin: $gutter-sm;
  @include rmin('lg') {
    display: flex;
    padding-top: $gutter;
    margin: $gutter;
  }
}
.footer-section {
  flex-basis: 50%;
  padding-bottom: $gutter-sm;
  &:first-of-type {
    padding-right: $gutter;
  }
  &:nth-of-type(2) {
    @include rmin('lg') {
      border-left: 2px solid color('gray-1');
      padding-left: $gutter;
    }
  }
}

.footer-section-heading {
  font-family: $cartograph-regular;
  font-size: $fs-5;
  margin-bottom: $gutter-sm;
  @include rmin('lg') {
    margin-bottom: $gutter;
  }
}
.footer-list,
.footer-list-inline {
  list-style: none;
}
.footer-list-inline {
  // width: 200px;
  display: inline-flex;
  list-style: none;
  flex-wrap: wrap;
}
.footer-list-item {
  margin-bottom: $space-2;
  margin-right: $space-4;
  &:last-of-type {
    margin-right: 0;
  }
}

// Content Blocks
// **
.text {
  color: color(black);;
  font-size: $fs-5;
  line-height: 1.3em;
}

.lead {
  font-size: 3rem;
  font-family: $cartograph-extralight;
  line-height: 1.2em;
  margin-bottom: $gutter;
  @include rmin('lg') {
    margin-bottom: $gutter-lg;
  }

}

.link {
  border-color: color('gray-3');
  &:hover {
    color: #2A6BFF;
    border-color: #2A6BFF;
  }
}

.outlink {
  &:hover {
    color: #2A6BFF;
    border-color: #2A6BFF;
  }
  &::after {
    margin-left: $space-1;
    vertical-align: top;
    font-size: 0.8em;
    content: '\2197';
  }
}

// TODO: move to base?
img {
  border: 1px solid black;
}
