
$grid-columns:      12;
$grid-gutter-width: 30px;

$breakpoints-min: (
  // Extra small screen / phone
  xs: '0',
  // Small screen / phone
  sm: '576px',
  // Medium screen / tablet
  md: '768px',
  // Large screen / desktop
  lg: '992px',
  // Extra large screen / wide desktop
  xl: '1200px',
  // For dumb big monitors, like mine
  xxl: '1600px'
);

$breakpoints-max: (
  // Small screen / phone
  sm: '575.98px',
  // Medium screen / tablet
  md: '767.98px',
  // Large screen / desktop
  lg: '991.98px',
  // Extra large screen / wide desktop
  xl: '1199.98px',
);

@mixin rmin($size) {
  @media (min-width: map-get($breakpoints-min, $size)) {
    @content;
  }
}

@mixin rmax($size) {
  @media (max-width: map-get($breakpoints-max, $size)) {
    @content;
  }
}

// Grid Classes
// **
.row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 $gutter-sm;
  margin-bottom: $space-4;
  @include rmin('lg') {
    padding: 0 $gutter;
    margin-bottom: $space-5;
  }
}

// Columns
.col {
  flex: 1 1 100%;
  width: 100%;
  @include rmin('lg') {
    flex: 1 1 50%;
  }
}

// Columns 2-up (extra padding between)
// TODO: consider making this dynamic within .col
.col-50 {
  @extend .col;
  &:first-of-type {
    padding-right: calc(#{$gutter-sm} / 2);
  }
  &:last-of-type {
    padding-left: calc(#{$gutter-sm} / 2);
  }
  @include rmin('lg') {
    &:first-of-type {
      padding-right: calc(#{$gutter} / 2);
    }
    &:last-of-type {
      padding-left: calc(#{$gutter} / 2);
    }
  }
}
