// Colors
// **
$colors: (
  red-1:     #FED4FC,
  red-2:     #F6A8F9,
  blue-1:    #CCDCFF,
  blue-2:    #9AB9FF,
  yellow-1:  #FFF3CC,
  yellow-2:  #FFE79A,
  gray-1:    #F4F4F4,
  gray-2:    #D9D9D9,
  gray-3:    #BDBCBF,
  gray-4:    #77757B,
  'black':   #222222, // needs quotes on key name since is a keyword
);

@function color($color) {
  $c: map-get($colors, $color);
  @return $c;
}

// Borders
// **
$border-sm: 1px solid color('black');
$border: 2px solid color('black');
$border-active: 2px solid color('black');
$border-lg: 3px solid color('black');
$radius: 3px;

@mixin border() {
  border: $border;
  border-radius: $radius;
}

// Auxilliary
// **
$overlay: rgba(color('black'), 0.75);
$shadow: 8px 8px rgba(black, 0.16);
$shadow-far: 10px 10px rgba(black, 0.16);
$shadow-farther: 14px 14px rgba(black, 0.16);
$shadow-hidden: 6px 6px rgba(black, 0);

// Z-index
// --
// For Global UI
$zi-1: 9997; // FloatingMenu
$zi-2: 9998; // SubWindow
$zi-3: 9999; // StatusBar


@mixin shadow() {
  box-shadow: $shadow;
}
@mixin shadowFar() {
  box-shadow: $shadow-far;
}
@mixin shadowFarther() {
  box-shadow: $shadow-farther;
}

// Spacing
// **
$space-1:    0.25rem;  // 4px
$space-2:    0.5rem;   // 8px
$space-3:    1rem;     // 16px
$space-4:    1.5rem;   // 24px
$space-5:    2.25rem;  // 36px
$space-6:    3rem;     // 48px

$gutter:     $space-5;  // 36px
$gutter-xs:  0.75rem;   // 12px
$gutter-sm:  $space-4;  // 24px
$gutter-lg:  $space-6;


@mixin gutter() {
  padding: 0 $gutter;
}


// Font Sizes
// **
$fs-1:       0.8125rem;   // 12px
$fs-2:       0.875rem;  // 14px
$fs-3:       1rem;      // 16px
$fs-4:       1.125rem;  // 18px
$fs-5:       1.25rem;   // 20px
$fs-6:       1.5rem;    // 24px
$fs-7:       2rem;      // 32px

// Font Letter Spacing
$fls-1: 0.04em;
$fls-3: 0.08em;

// Typography
// **
@font-face {
  font-family: "CartographCF-Regular";
  src: url("../static/fonts/CartographCF-Regular.woff2") format("woff2"),
       url("../static/fonts/CartographCF-Regular.woff") format("woff");
}
@font-face {
  font-family: "CartographCF-Light";
  src: url("../static/fonts/CartographCF-Light.woff2") format("woff2"),
       url("../static/fonts/CartographCF-Light.woff") format("woff");
}
@font-face {
  font-family: "CartographCF-ExtraLight";
  src: url("../static/fonts/CartographCF-ExtraLight.woff2") format("woff2"),
       url("../static/fonts/CartographCF-ExtraLight.woff") format("woff");
}

$cartograph-extralight: 'CartographCF-ExtraLight';
$cartograph-light: 'CartographCF-Light';
$cartograph-regular: 'CartographCF-Regular';

$font-family-fallback-mono:
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;

$font-family-fallback-sans:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
